play_seapal\Seapal\logs
play_seapal\Seapal\project\project
play_seapal\Seapal\project\target
play_seapal\Seapal\target
play_seapal\Seapal\tmp
play_seapal\play
play_seapal\.metadata
play_seapal\Seapal\.metadata
