*                               { margin: 0; padding: 0; }
body                            { background: #EEEEEE; }
h2                              { margin: 0 0 10px 0; }

/* Ist fast das ganze Fenster */
#page-wrap                      { width: 500px; margin: 30px auto; position: relative; }

/* Gibt den Berich an wo die Konversation statfindet */
#chat-area                      { height: 300px; overflow: auto; border: 1px solid #AAA; padding: 20px; background: white; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

/* Gibt den Berich des ganzen Formulas an wo Daten gesendet werden */
/* Das p ordnet die zwei Bereiche nebeneinander an */
#send-message-form p            { float: left; padding-top: 27px; font-size: 14px; }

/* Gibt den Bereich vom Eingabeteil für den Chat an. */
#send-message-box                         { border: 1px solid #AAA; width: 360px; padding: 10px; float: right; }