@(header: Html)(navigation: Html)(navigation_app: Html)

@chat(header)(navigation)(navigation_app)(null) {
    
    @if(flash.containsKey("error")) {
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>
        
    }

    <div class="alert-message block-message info">
        <p>
            <strong>Um den Chat zu starten, bitte einen Namen eintragen auf der rechten Seite</strong>     
        </p>
    </div>  
}