@(header: Html)(header_app: Html)(navigation: Html)(navigation_app: Html)

<!DOCTYPE html>

<html>
    <head>
    
    	<!-- Header -->
        @header
        
        <!-- Header App -->
        @header_app
        
    </head>
    <body onload="initialize();">
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
    		<!-- Navigation -->
    		@navigation_app

			<!-- Route Menu -->
			<div id="routeMenuContainer">
		    	<div id="routeMenu" class="well">
		    		<h4>Routen Menü</h4>
		        	<div class="btn-group btn-group-vertical">
		                <input type="button" class="btn" value="l&ouml;schen" id="deleteRouteButton" class="routeButton" onclick="javascript: deleteRoute()" />
		                <input type="button" class="btn" value="speichern" id="saveRouteButton" class="routeButton" onclick="javascript: saveRoute()" />
		                <input type="button" class="btn" value="beenden" id="stopRouteButton" class="routeButton" onclick="javascript: stopRouteMode()" />
		            </div>
		        	<br><br>
		            <div id="route_distance">Routen-L&auml;nge: <span id="route_distance_number"></span> m</div>
		        </div>
		    </div>
		    
		    <!-- Distance Menu -->
		    <div id="distanceToolContainer">
		        <div id="distanceToolMenu" class="well">
		        	<h4>Distanztool</h4>
		        	<input type="button" class="btn" value="beenden" id="stopDistanceToolButton" class="distanceToolbutton" onclick="javascript: stopDistanceToolMode()" />
		        	<br><br>
		        	<div id="distanceTool_distance">Distanz: <span id="distanceTool_number"></span> m</div>
		        </div>
		    </div>
		    
		     <!-- Navigation Menu -->
		    <div id="navigationContainer">
		        <div id="navigationMenu" class="well">
		        	<h4>Navigation</h4>
		        	<input type="button" class="btn" value="beenden" id="stopNavigationButton" class="distanceToolbutton" onclick="javascript: stopNavigationMode()" />
		        	<br><br>
		        	<div id="navigation_distance">Distanz: <span id="navigation_number"></span> m</div>
		        </div>
		    </div>
		    
		    <!-- Current Position -->
		    <div id="followCurrentPositionContainer">
		        <div id="followCurrentPosition_button" class="well">
		            <input type="button" class="btn" value="Eigener Position folgen" id="followCurrentPositionbutton" onclick="javascript: toggleFollowCurrentPosition()" />
		        </div>
		    </div>

		    <!-- Toggle Weather  -->
		    <div id="WeatherContainer">
		    	<div id="WeatherButtons" class="well">
		    		<table>
			    		<tr>
			    			<td>
			    				Wind: 
			    			</td>
			    			<td>
			    				<input type="checkbox" class="toggleWeather" value="1" id="wind_button"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
			    				Temperatur: 
			    			</td>
			    			<td>
			    				<input type="checkbox" class="toggleWeather" value="2" id="temp_button"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
			    				Wellenhoehe: 
			    			</td>
			    			<td>
			    				<input type="checkbox" class="toggleWeather" value="3" id="wave_button"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
			    				Niederschlag1: 
			    			</td>
			    			<td>
			    				<input type="checkbox" class="toggleWeather" value="4" id="precipitation_button"/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
			    				Niederschlag2: 
			    			</td>
			    			<td>
			    				<input type="checkbox" class="toggleWeather" value="5" id="rainMap"/>
			    			</td>
			    		</tr>
		    		</table>
		    	</div>
		    </div>

		    <!-- Weather Legende -->
		    <div id="WindDescriptionContainer">
		    	<div id="WindDescription">
		    		<table border="1">
		    			<tr>
		    				<td>rot</td>
		    				<td>adsf</td>
		    				<td>sadf</td>
		    				<td>asd</td>
		    				<td>asd</td>
		    				<td>asd</td>
		    				<td>asd</td>
		    				<td>sdf</td>
		    				<td>sdf</td>
		    				<td>sdf</td>
		    				<td>asdf</td>
		    				<td>asdf</td>
		    				<td>asdf</td>
		    			</tr>
		    			<tr>
		    				<td background-color="rgb(51, 51, 51)"></td>
		    				<td background-color="rgb(51, 51, 51)">1</td>
		    				<td>2</td>
		    				<td>3</td>
		    				<td>4</td>
		    				<td>5</td>
		    				<td>6</td>
		    				<td>7</td>
		    				<td>8</td>
		    				<td>9</td>
		    				<td>10</td>
		    				<td>11</td>
		    				<td>12</td>
		    			</tr>
		    		</table>
		    	</div>
		    </div>

		    <!-- Map -->
		    <div id="appWrapper">
		        <div id="map_canvas"></div>
		    </div>
		
		    <!-- Context Menus -->
		    <div id="temporaryMarkerContextMenu"></div>
		    <div id="fixedMarkerContextMenu"></div>
		    <div id="routeContextMenu_active"></div>
		    <div id="routeContextMenu_inactive"></div>	
			<div id="chat" align="center">
		        <div id="chat-area" style="height:200px; width:200px; background-color: white; overflow: auto;"></div>
			</div>
		</div><!-- Container -->
	</body>
</html>