@(header: Html)(header_app: Html)(navigation: Html)(navigation_app: Html)

<!DOCTYPE html>

<html>
    <head>
    
    	<!-- Header -->
        @header
        
        <!-- Header App -->
        @header_app
        
    </head>
    <body onload="initialize();">
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
    		<!-- Navigation -->
    		@navigation_app

			<!-- Route Menu -->
			<div id="routeMenuContainer">
		    	<div id="routeMenu" class="well">
		    		<h4>Routen Menü</h4>
		        	<div class="btn-group btn-group-vertical">
		                <input type="button" class="btn" value="l&ouml;schen" id="deleteRouteButton" class="routeButton" onclick="javascript: deleteRoute()" />
		                <input type="button" class="btn" value="speichern" id="saveRouteButton" class="routeButton" onclick="javascript: saveRoute()" />
		                <input type="button" class="btn" value="beenden" id="stopRouteButton" class="routeButton" onclick="javascript: stopRouteMode()" />
		                <!-- <select id="bootSelect"></select> -->
		                <input type="text" class="input-small" id="routeName" placeholder="Routen Name..">
		            </div>
		        	<br><br>
		            <div id="route_distance">Routen-L&auml;nge: <span id="route_distance_number"></span> m</div>
		        </div>
		    </div>
		    
		    <!-- Distance Menu -->
		    <div id="distanceToolContainer">
		        <div id="distanceToolMenu" class="well">
		        	<h4>Distanztool</h4>
		        	<input type="button" class="btn" value="beenden" id="stopDistanceToolButton" class="distanceToolbutton" onclick="javascript: stopDistanceToolMode()" />
		        	<br><br>
		        	<div id="distanceTool_distance">Distanz: <span id="distanceTool_number"></span> m</div>
		        </div>
		    </div>
		    
		     <!-- Navigation Menu -->
		    <div id="navigationContainer">
		        <div id="navigationMenu" class="well">
		        	<h4>Navigation</h4>
		        	<input type="button" class="btn" value="beenden" id="stopNavigationButton" class="distanceToolbutton" onclick="javascript: stopNavigationMode()" />
		        	<br><br>
		        	<div id="navigation_distance">Distanz: <span id="navigation_number"></span> m</div>
		        </div>
		    </div>
		    
		    <!-- Current Position -->
		    <div id="followCurrentPositionContainer">
		        <div id="followCurrentPosition_button" class="well">
		            <input type="button" class="btn" value="eigener Position folgen" id="followCurrentPositionbutton" onclick="javascript: loadStatistics ()" />
		        </div>
		    </div>
		    <div id="weatherOptionsContainer">
		    	<div id="weatherOptions">
				    <div class="accordion" id="accordion2">
					  	<div class="accordion-group">
					    	<div class="accordion-heading">
							    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							        Wetter Optionen
							    </a>
					    	</div>
					    	<div id="collapseOne" class="accordion-body collapse in">
					      		<div class="accordion-inner">
				    			<!-- Toggle Options  -->
						    		<div id="WeatherContainer">
						    			<div id="WeatherButtons" class="well">
						    				<table>
						    					<tr>
						    						<td class="tableSpace">
									    				<table>
									    					<tr>
										    					<td>
										    						See Marken: 
										    					</td>
											    				<td>
											    					<input type="checkbox" class="toggleWeather" value="0" id="seaMark_button"/>
											    				</td>
										    				</tr>
										    				<tr>
										    					<td>
										    						Wind: 
										    					</td>
											    				<td>
											    					<input type="checkbox" class="toggleWeather" value="1" id="wind_button"/>
											    				</td>
										    				</tr>
												    		<tr>
												    			<td>
												    				Temperatur: 
												    			</td>
												    			<td>
												    				<input type="checkbox" class="toggleWeather" value="2" id="temp_button"/>
												    			</td>
												    		</tr>
												    	</table>
											    	</td>
											    	<td class="tableSpace">
												    	<table>
												    		<tr>
												    			<td>
												    				Stadt Wetter: 
												    			</td>
												    			<td>
												    				<input type="checkbox" class="toggleWeather" value="6" id="googleWeather_button"/>
												    			</td>
												    		</tr>
												    		<tr>
												    			<td>
												    				Wellenhoehe: 
												    			</td>
												    			<td>
												    				<input type="checkbox" class="toggleWeather" value="3" id="wave_button"/>
												    			</td>
												    		</tr>
												    		<tr>
												    			<td>
												    				Niederschlag: 
												    			</td>
												    			<td>
												    				<input type="checkbox" class="toggleWeather" value="4" id="precipitation_button"/>
												    			</td>
												    		</tr>
									    				</table>
									    			</td>
									    		</tr>
								    		</table>
								    	</div>
						    		</div>
					      		</div>
					    	</div>
					 	</div>
					 	<div class="accordion-group">
						    <div class="accordion-heading">
						      	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						        	Wetter Vorschau
						    	</a>
						    </div>
						    <div id="collapseTwo" class="accordion-body collapse">
							    <div class="accordion-inner">
							        <!-- weather statistics -->
							        <div class="accordion" id="accordion3">
									  	<div class="accordion-group">
									    	<div class="accordion-heading">
											    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
											        Temperatur Vorschau
											    </a>
									    	</div>
									    	<div id="collapseThree" class="accordion-body collapse in">
									      		<div class="accordion-inner">
									      			<div id="temperaturStatistics"></div>
									      		</div>
									      	</div>
									    </div>
									    <div class="accordion-group">
									    	<div class="accordion-heading">
											    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
											        Wind Vorschau
											    </a>
									    	</div>
									    	<div id="collapseFour" class="accordion-body collapse in">
									      		<div class="accordion-inner">
									      			<div id="windStatistics"></div>
									      		</div>
									      	</div>
									    </div>
									    <div class="accordion-group">
									    	<div class="accordion-heading">
											    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapsefive">
											        Wetter Vorschau ( 16 Tage)
											    </a>
									    	</div>
									    	<div id="collapsefive" class="accordion-body collapse in">
									      		<div class="accordion-inner">
									      			<div id="WeatherStatistics16days"></div>
									      		</div>
									      	</div>
									    </div>
									</div>
							    </div>
					    	</div>
					  	</div>
					</div>
				</div>
		    </div>

		    <!-- No Route name dialog -->
	        <div class="modal hide fade" id="noRouteName">
			    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				    <h3 id="dialogTitle"></h3>
			    </div>
			    <div class="modal-body">
			    	<p id="dialogMessage"></p>
			    </div>
			    <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
			    </div>
			</div>

		    <!-- Weather Legende -->
		    <div id="WindDescriptionContainer">
		    </div>

		    <!-- Map -->
		    <div id="appWrapper">
		        <div id="map_canvas"></div>
		    </div>
		
		    <!-- Context Menus -->
		    <div id="temporaryMarkerContextMenu"></div>
		    <div id="fixedMarkerContextMenu"></div>
		    <div id="routeContextMenu_active"></div>
		    <div id="routeContextMenu_inactive"></div>	
			<div id="chat" align="center">
		        <div id="chat-area" style="height:200px; width:200px; background-color: white; overflow: auto;"></div>
			</div>
		</div><!-- Container -->
	</body>
</html>