@(header: Html)(navigation: Html)(navigation_app: Html)(data: String)(clock: Html)

<!DOCTYPE html>

<html>
    <head>
    	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    	<!-- Header -->
        @header 
    </head>
    <body>
    	<!-- Clock -->
    	@clock
    	
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
	    	<!-- Navigation -->
	    	@navigation_app
	
			<!-- Content -->
			<div id="appWrapper" align="center">
		        <br />
		        <h2>Sonnenaufgang und Sonnenuntergang</h2>
		        <br />
		        <div class="container-fluid">
		        	<form class="form-horizontal" method="POST"> 
		            	<div class="row well" style="margin-left: 0px;">
		            		<div class="span4" align="center">	            		
			            		<div class="control-group">
			            			<label class="control-label">Längengrad</label>
			            			<input class="input-medium" type="text" name="longitude" id="longitude" />
			            			<label class="control-label">z.B.  -089.73</label>
			            		</div>
			            		<div class="control-group">
			            			<label class="control-label">Breitegrad</label>
			            			<input class="input-medium" type="text" name="latitude" id="latitude" />
			            			<label class="control-label">z.B.  +169.91</label>
			                    </div>       
		            		</div>
		            		<div class="span4">
		            			<div class="control-group">
			            			<label class="control-label">Zeitdifferenz zu Weltzeit (UTC-Zeit)</label>
			            			<input class="input-medium" type="text" name="timediv" id="timediv" />
									<p>
										Winterzeit: 1, Sommerzeit: 2
			            			</p>
			                    </div>
		            			<div class="control-group">
			            			<label class="control-label">Tag im Jahr</label>
			            			<input class="input-medium" type="text" name="day" id="datepicker" />
			                    </div> 
		            		</div>
		            	</div>    	 
		            	<div class="control-group">
		            		<!-- <input type="reset" class="btn" id="delete" value="L&ouml;schen" class="button"/> -->
			                <input type="submit" class="btn" id="calculate" name="submit" value="Berechnen" class="button"/>
			            </div>  
		        	</form>
		        </div>   
		        <div class="container-fluid">
		        	<form class="form-horizontal"> 
		            	<div class="row well" style="margin-left: 0px;">
		            		<div class="span4" align="center">	            		
			            		<div class="control-group">
			            			<label class="control-label">Sonnenaufgang</label>
			            			<input class="input-medium" type="text" readonly="readonly" name="sunrise" id="sunrise" />
			            		</div>
			            		<div class="control-group">
			            			<label class="control-label">Sonnenuntergang</label>
			            			<input class="input-medium" type="text" readonly="readonly" name="sunset" id="sunset" />
			                    </div>       
		            		</div>
						</div>
					</form>
		        </div>
			</div><!-- Content -->   
		</div><!-- Container -->
	
		<!-- Menu Modal -->
		<div class="modal hide fade" id="messageBox">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="dialogTitle"></h3>
			</div>
			<div class="modal-body">
				<p id="dialogMessage"></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i> ok</a>
			</div>
		</div>
		
		<!-- Additional Scripts -->
		<script src="@routes.Assets.at("javascripts/app/ajax/sun.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/maskedinput.js")" type="text/javascript"></script>	
	</body>
</html>